.spacer {
    flex: 1 1 auto;
}

.toggle-container {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: start;
    margin-top: 100px;
    margin-left: 8px;
}   

.toggle-header {
    margin-right:20px;
    text-align: center;
    font-weight: 600; /* tweak however you like */
}

.panel-card {
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 8px;
}



.menu-item {

    display: flex;
    justify-content: space-between;
}

.create-input {

    padding: 16px;
}

.menu-item:hover {
    border-radius: 2px;
    /* padding: 2px; */
    cursor: pointer;
    background: rgba(201, 104, 120, 0.1);
}

.select-prompt {
  margin: 0 0 50px 0;
  text-align: center;
  font-weight: 600; /* tweak however you like */
}

.side-nav {
    padding-right: 8px;
    padding-left: 16px;
}

.side-nav-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 8px;
    padding-left: 16px;
    padding-top:10px;
}

.mode-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px; /* space between icon and text */
}

.mode-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 6px; /* space between icon and text */
}

.drawer-tab {
  position: absolute;
  top: 50%;
  left: 0; /* stick to left edge of drawer-wrapper */
  transform: translate(-50%, -50%);
  z-index: 10;
  /* background: white; */
  border-radius: 0 4px 4px 0;
  width: 50px;
    height: 50px;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.2); */
}

.drawer-tab {
    padding-left: 20px;
    width: 50px;
    height: 50px;
}

.drawer-tab .mat-icon {
    height: 100%;
    font-size: 36px;
}
.blank-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 900px;      /* or a fixed px/em value */
  /* overflow: hidden;   */
  padding: 10px;
}